{% extends 'layout.html.twig' %}

    {% block container %}
        <div class="category-container">
            <div class="category-section">
                {% for category in categories %}
                    <a href="{{ path('category_posts', {'id' : category.name, 'page' : page}) }}">{{ category.name }}</a>
                {% endfor %}
            </div>
        </div>
    {% endblock %}