{% extends 'layout.html.twig' %}

    {% block container %}
        <div class="post-container">
            <body>
                <div class="post-1">
                    <img src="" alt="">
                </div>
                <div class="post-2">
                    <img src="" alt="">
                </div>
            </body>
        </div>
    {% endblock %}
