{% extends 'layout.html.twig' %}

    {% block container %}
        <!-- Post Section-->
        <div class="post-container">
            <section class="post-list">
                {{ include("homepage/post.html.twig") }}
            </section>
            <button class="load" href="#">Load More</button>
        </div>
    {% endblock %}
