{% for post in posts %}
    <div class="post-thumbnail" id="post-thumbnail">
        <div class="post-artist-name">
            <a href="{{ path('artist_infos', {'name' : post.artist.name}) }}">{{ post.artist.name }}</a>
        </div>
        <div class="post-image">
            <img src="{{ asset('img/uploads/artists-posts/'~post.images|first.path) }}" alt="" width="300" height="400" class="img-post">
        </div>
        <div class="post-video">
            <iframe width="325" height="200" src="{{ post.videos|first.url }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="vid-post">
                Votre navigateur ne peut pas lire la vidéo.
            </iframe>
        </div>
    </div>
{% endfor %}