<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Fura_illus Library{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <!-- layout.html.twig -->
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
