{% extends 'base.html.twig' %}

    {% block stylesheets %}
        <!-- CSS -->
        <link href="/css/fl.css" rel="stylesheet">
        <!-- FONT -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    {% endblock %}

    {% block javascripts %}
    <!-- JS -->
    <script src="https://kit.fontawesome.com/0709ae03e6.js" crossorigin="anonymous"></script>
    <script src="/js/hide_empty_post.js"></script>
    <script src="/js/search_bar.js"></script>
    {% endblock %}
    
    {% block body %}
        <div class="section">
            <div class="container">
                <!-- HERO BANNER -->
                <div class="hero">
                    <header>
                        <!-- LOGO -->
                        <div class="header-left">
                            <h1>Furalys Library</h1>
                        </div>
                        <!-- MENU -->
                        <div class="header-right">
                            <nav>
                                <a href="#" class="search-link">Search</a>
                                <a href="#">Artists</a>
                                <a href="#">Categories</a>
                                <a href="#">Own Creations</a>
                                <div class="search hidden">
                                    <button class="close-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                    <input type="text" class="input-search" placeholder="Search...">
                                    <button class="search-btn">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </nav>
                        </div>
                    </header>
                    
                    <div class="hero-content">
                        <div class="hero-left">
                            <img src="/img/pages/hero-left.png" alt="photo de Furalys">
                        </div>
                        <div class="hero-right">
                            <div class="bloc-text">
                                <span>Personal library of the artists I like</span>
                                <h1>LIVE 2D<br/>VTUBER<br/>2D ANIMATION</h1>
                                <p>
                                    Hello there I'm Furalys, but you can call me "Fura". I like to draw and watch other 
                                    drawing too so I decided to make my own library to study the work of the artists I like 
                                    a lot.
                                </p>
                            </div>
                            <div class="bloc-button">
                                <div class="home-btn">
                                    <div class="latest">
                                        <a href="#post-thumbnail">Latest<br/>
                                            <i class="fas fa-arrow-down"></i>
                                        </a>
                                    </div>
                                    <div class="twitter-icon">
                                        <a href="https://twitter.com/furalys" target="_blank">Furalys' Twitter<br/>
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- BODY 
                -> home.html.twig  -->
                {% block container %}{% endblock %}
                <!-- FOOTER -->
                <footer>
                    <div class="footer-links">
                        <div class="test">
                            <div>
                                <span class="copyright">Copyright &copy; Furalys 2021</span>
                            </div>
                            <div>
                                <a href="#">Privacy Policy</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>        
    {% endblock %}
